// Place all the styles related to the TodoItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
  background-color: #c0a5dd;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.header {
  height: 236px;
  width: 100%;
  background-color: #00bbd3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
}

.circle {
  font-size: 135px;
  width: 50px;
  height: 50px;
  margin-left: 30px;
  line-height: 125px;
  float:left;
  opacity: .3;
}

.menu-icon {
  font-size: 40px;
  opacity: .3;
  width: 50px;
  margin: 30px 30px 0 0 ;
  float: right;
}

.todos-container {
  width: 442.6px;
  margin: 0 auto;
  min-height: calc(100vh - 437px);
}

.task-form {
  height: 70px;
  margin-top: 41px;
  margin-bottom: 20px;
}

.text-input-container {
  width: 372px;
  float: left;
}

.name-input {
  width: 370px;
  height: 20px;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  color: rgba(255, 255, 255, 0.9);
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding-bottom: 0px;
}

.input-line {
  height: 0px;
  width: 360px;
  border-bottom: solid 1px #dfdfdf;
  opacity: .7;
}

.description-input {
  border: none;
  height: 20px;
  width: 370px;
  font-size: 12px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  background-color: transparent;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.9);
}

::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.3);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 0.3);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.3);
}

:-ms-input-placeholder {
   color: rgba(255, 255, 255, 0.3);
}

.submit {
  border: none;
  height: 70px;
  margin-top: 3px;
  font-size: 35px;
  font-weight: 100;
  border-radius: 0px;
  background-color: transparent;
  color: #dfdfdf;
  border-left: solid 1px #dfdfdf;
  padding-left: 25px;
  cursor: pointer;
  opacity: .7;
}

.submit:hover {
  opacity: .7;
}

.todo-container {
  display: block;
  background-color: #fafafa;
  margin-bottom: 10px;
  height: 70px;
  width: 442.6px;
  border-radius: 2px;
  background-color: #fafafa;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  border-style: solid;
  border-width: 1px;
  border-image-source: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1) 5%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0));
  border-image-slice: 1;
}

.check {
  display: block;
  width: 69px;
  height: 69px;
  float: left;
  border-right: solid 1px #dfdfdf;
  cursor: pointer;
}

.check:hover {
  opacity: .7;
}

.check:active {
  opacity: .3;
}

.check img {
  width: 19px;
  height: 19px;
  margin: 25px;
}

.todo {
  box-sizing: border-box;
  width: 300px;
  height: 70px;
  padding: 11px 33px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  text-align: left;
  color: rgba(0, 0, 0, 0.87);
  float: left;
  margin: 0;
}

.done {
  text-decoration: line-through;
  color: red;
}

.todo-name span {
  color: rgba(0, 0, 0, 0.87);
}

.todo-description {
  font-size: 14px;
  line-height: 1.43;
  color: rgba(0, 0, 0, 0.54);
}

.cross {
  width: 70px;
  height: 70px;
  float: right;
  border-left: solid 1px #dfdfdf;
  cursor: pointer;
}

.cross:hover {
  opacity: .7;
}

.cross:active {
  opacity: .3;
}

.cross img {
  width: 19px;
  height: 19px;
  margin: 25px;
}

.footer {
  height: 140px;
  width: 100%;
  background: linear-gradient(135deg, #9f8cbd, #c0a5dd);
}

.footer-logo {
  width: 95px;
  height: auto;
  margin: 0 auto;
  margin-top: 23px;
}

.footer-logo img {
  margin: 23px;
}
